# ignore the project environment folder
./chapter 01/Django_Env/

# ignore the __pycache__ folder
./chapter 01/mysite/blog/__pycache__/

# ignore the migration __pycache__ folder
./chapter 01/mysite/blog/migration/__pycache__

# ignore the db.sqlite3 file
./chapter 01/mysite/db.sqlite3